$background-color: #fafafa;
$primary-color: #D1242A;
$secondary-color: #2A3147;
$text-color-secondary: rgb(0 0 0 / 45%);
$border-radius: 8px;
$border-color-base: #d4dce3;
$box-shadow-base: 0 2px 12px rgb(190 205 234 / 60%);