$background-color: #fff;
$background-color-base: #f7f7f7;
$primary-color: #084bc1;
$primary-light-color: #0b60db;
$secondary-color: #2A3147;
$border-color-base: #e7e7e7;
$border-radius: 6px;
$text-color: #fff;
$text-color-base: #000;
$text-color-secondary: #4b5563;
$text-color-gray: #686868;
$success-color: #34d300;
$box-shadow-base: 0 2px 12px rgb(190 205 234 / 60%);
$box-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
$warning-color: #D1242A;